.header{
    background: linear-gradient(90deg, #FAFAFA, #3292E7,#AFD9F7, #FAFAFA);
    display: flex;
    justify-content: space-between;
    
    height: 72px;
    padding: 0 3rem;
    border-bottom: 1px solid #E5E5E5;

    a,ul, button{
        text-decoration: none;
    }

    button{
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    li{
        list-style: none;
    }
    ul,nav{
        height: 100%;
    }
    ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    }
}

.header nav a {

    display: flex;
    align-items: center;

    height: 100%;

    color: #444;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.2s;
}

.header nav a:hover {

    color: #3292E7;

}

.header div a[href="/login"] {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    border: 0.1rem solid #3292E7;
    border-radius: 2rem;
    color: #3292E7;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s;
}

.header div a[href="/create"] {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    border-radius: 2rem;
    background-color: #3292E7;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: opacity 0.2s;
}

.header div a[href="/create"]:hover {
    background: #2385DA;
    opacity: 0.9;

}
.header div a[href="/login"]:hover {
    background-color: #3292E7;
    color: white;
    border-color: transparent;
}

.logout-button {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    border-radius: 2rem;
    background-color: #459CF7;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;
}

.logout-button:hover {
    opacity: 0.9;
}