.card {
    width: 700px;
    min-width: 700px;
    max-width: 700px;
    background: #dfe5ea;
    border: 2px solid #c6d0d9;
    border-radius: 18px;
    padding: 1rem;
    display: flex;
    gap: 1.5rem;

    box-shadow:
        0 8px 24px rgba(0,0,0,.15);

    transition: .25s;
}

.card:hover {
    transform: translateY(-4px);

    box-shadow:
        0 14px 32px rgba(0,0,0,.22);
}

.card-img {
    width: 180px;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-info h2 {
    margin: 0;
    margin-bottom: .8rem;
    font-size: 1.7rem;
    color: #1e293b;
}

.review {

    color: #334155;
    line-height: 1.6;
    flex: 1;
    overflow: hidden;
    display: -webkit-box;

    -webkit-line-clamp: 6;

    -webkit-box-orient: vertical;
}

.nota {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.btn-acoes {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-acoes a,
.btn-acoes button {
    flex: 1;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.btn-acoes a {
    background: #3292E7;
    color: white;
    border: none;
}

.btn-acoes button {
    background: #ef4444;
    color: white;
    border: none;
}